<div class="user-card2 flex-center">
<% border_style = user.celeb ? 'user-card2-inner user-card2-inner-blue' : 'user-card2-inner' %>
  <div class="<%= border_style %>">
    <p class="user-card2-nickname" id="top"><%= user.nickname %></p>
    <p class="user-card2-nickname" id="bottom"><%= user.nickname %></p>
    <ul class="user-card2-badges">
      <% @themes.each_with_index do |theme, index| %>
        <li class="user-card2-badges-badge <%= @backgrounds[index] %>">
          <div class="user-card2-badges-name <%= @backgrounds[index] %>"><%= theme.name %></div>
          <% compared_user = @user ? @user : user %>
          <%= compare_answers(compared_user, theme, comparison) %>
        </li>
      <% end %>
    </ul>
    <% photo = user[:photo] ? user.photo : 'placeholder' %>
    <% photo_style = user.celeb ? 'user-card2-photo user-card2-photo-bordered' : 'user-card2-photo' %>
    <%= cl_image_tag photo, height: 150, width: 150, crop: :fill, class: photo_style %>
    <p class="user-card2-name"><%= user.nickname %></p>
    <!-- <div class="user-card2-answered-queries"> -->
      <!-- <p><span><%#= answered_queries(user) %></span> de réponse</p> -->
    <!-- </div> -->
  </div>
</div>
