<div class="user-card flex-center">
  <div class="user-card-inner">
    <p class="user-card-nickname" id="top"><%= user.nickname %></p>
    <p class="user-card-nickname" id="bottom"><%= user.nickname %></p>
    <ul class="user-card-badges">
      <% @themes.each_with_index do |theme, index| %>
        <li class="user-card-badges-badge <%= @backgrounds[index] %>">
          <div class="user-card-badges-name <%= @backgrounds[index] %>"><%= theme.name %></div>
          <% compared_user = @user ? @user : user %>
          <%= compare_answers(compared_user, theme, comparison) %>
        </li>
      <% end %>
    </ul>
    <div class="user-card-pusher"></div>
    <% photo = user[:photo] ? user.photo : 'placeholder' %>
    <%= cl_image_tag photo, height: 150, width: 150, crop: :fill, class: 'user-card-photo' %>
    <div class="user-card-pusher"></div>
  </div>
</div>
