<div class="navbar">
  <div class="container navbar-container">
    <div class="navbar-elements hidden-lg">
      <div class="navbar-dropdown navbar-item navbar-item-sm">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <div class="navbar-dropdown-menu navbar-dropdown-menu-sm">
          <p class="navbar-dropdown-menu-sm-title">App</p>
          <%= link_to 'Communauté', users_path, class: "navbar-item" %>
          <% if user_signed_in? %>
            <%= link_to 'Me positionner', new_answer_path, class: "navbar-item" %>
            <p class="navbar-dropdown-menu-sm-title">Profil</p>
            <%= link_to 'Mon Profil', user_path(current_user), class: "navbar-item" %>
            <%= link_to 'Me déconnecter', destroy_user_session_path, method: :delete, class: "navbar-item" %>
            <% if current_user.editor %>
              <p class="navbar-dropdown-menu-sm-title">Administration</p>
              <%= link_to 'Dashboard', admin_root_path, class: "navbar-item" if current_user.admin %>
              <%= link_to 'Thèmes', themes_path, class: "navbar-item" %>
              <%= link_to 'Questions', queries_path, class: "navbar-item" %>
            <% end %>
          <% else %>
            <%= link_to 'Me connecter', new_user_session_path, class: "navbar-item" %>
          <% end %>
        </div>
      </div>
      <hr>
    </div>
    <div class="navbar-elements hidden-xs hidden-sm hidden-md">
      <% if user_signed_in? %>
        <%= link_to 'Me positionner', new_answer_path, class: "navbar-item" %>
        <% if current_user.editor %>
          <div class="navbar-dropdown navbar-item hidden-md">
            Administration
            <div class="navbar-dropdown-menu">
              <%= link_to 'Dashboard', admin_root_path, class: "navbar-dropdown-menu-item" if current_user.admin %>
              <%= link_to 'Thèmes', themes_path, class: "navbar-dropdown-menu-item" %>
              <%= link_to 'Questions', queries_path, class: "navbar-dropdown-menu-item" %>
            </div>
          </div>
        <% end %>
      <% end %>
      <hr>
    </div>
    <div class="navbar-title">
      <%= link_to 'Nuances', root_path, class: "navbar-item" %>
    </div>
    <div class="navbar-elements hidden-xs hidden-sm">
      <hr>
      <%= link_to 'Communauté', users_path, class: "navbar-item" %>
      <% if user_signed_in? %>
        <%= link_to 'Mon Profil', user_path(current_user), class: "navbar-item hidden-md" %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to 'Me déconnecter', destroy_user_session_path, method: :delete, class: "navbar-item hidden-md" %>
      <% else %>
        <%= link_to 'Me connecter', new_user_session_path, class: "navbar-item hidden-md" %>
      <% end %>
    </div>
    </div>
  </div>
</div>
>
  </div>
</div>
