<div class="navbar">
  <div class="container navbar-container">
    <div class="navbar-elements"></div>
    <div class="navbar-title">
      <%= link_to 'Nuances', root_path, class: "navbar-item" %>
    </div>
    <div class="navbar-elements">
      <hr>
      <% if user_signed_in? %>
        <% if current_user.admin %>
          <div class="dropdown">
            <span class="navbar-item" data-toggle="dropdown">Admin</span>
            <u class="dropdown-menu">
              <li>
                <%= link_to 'Dashboard', admin_root_path %>
              </li>
              <li>
                <%= link_to 'Nouvelle question', '#' %>
              </li>
            </u>
          </div>
        <% end %>
        <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: "navbar-item" %>
      <% else %>
        <%= link_to 'Se connecter', new_user_session_path, class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</div>
