<div class="navbar">
  <div class="container navbar-container">
    <div class="navbar-elements">
      <%= link_to 'Communauté', users_path, class: "navbar-item" %>
      <% if user_signed_in? %>
        <%= link_to 'Me positionner', new_answer_path, class: "navbar-item" %>
      <% end %>
      <hr>
    </div>
    <div class="navbar-title">
      <%= link_to 'Nuances', root_path, class: "navbar-item" %>
    </div>
    <div class="navbar-elements">
      <hr>
      <% if user_signed_in? %>
        <%= link_to 'Mon Profil', user_path(current_user), class: "navbar-item" %>
        <% if current_user.editor %>
          <div class="navbar-dropdown navbar-item">
            Administration
            <div class="navbar-dropdown-menu">
              <%= link_to 'Dashboard', admin_root_path, class: "navbar-dropdown-menu-item" if current_user.admin %>
              <%= link_to 'Thèmes', themes_path, class: "navbar-dropdown-menu-item" %>
              <%= link_to 'Questions', queries_path, class: "navbar-dropdown-menu-item" %>
            </div>
          </div>
        <% end %>
        <%= link_to 'Me déconnecter', destroy_user_session_path, method: :delete, class: "navbar-item" %>
      <% else %>
        <%= link_to 'Me connecter', new_user_session_path, class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</div>
