<div class="navbar">
  <div class="container navbar-container">
    <div class="navbar-elements"></div>
    <div class="navbar-title">
      <%= link_to 'Nuances', root_path, class: "navbar-item" %>
    </div>
    <div class="navbar-elements">
      <hr>
      <% if user_signed_in? %>
        <% if current_user.admin %>
          <div class="navbar-dropdown navbar-item">
            Administration
            <div class="navbar-dropdown-menu">
              <%= link_to 'Dashboard', admin_root_path, class: "navbar-dropdown-menu-item" %>
              <%= link_to 'Nouvelle question', '#', class: "navbar-dropdown-menu-item" %>
            </div>
          </div>
        <% end %>
        <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: "navbar-item" %>
      <% else %>
        <%= link_to 'Se connecter', new_user_session_path, class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</div>
