<div class="all-form-content">

  <%= simple_form_for(@query) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.association :theme, :include_blank => false %>
      <%= f.input :content %>
      <%= f.input :description %>
      <%= f.input :see_more %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Soumettre' %>
    </div>
  <% end %>

</div>
