<div class="query-banner-index page-banner">
  <div class="page-banner-title">
    <h1>Questions enregistrées</h1>
    <% total = @queries.length %>
    <% if total > 1 %>
      <p><%= total %> questions trouvées</p>
    <% elsif total == 0 %>
      <p>Aucune question trouvée</p>
    <% else %>
      <p><%= total %> question trouvée</p>
    <% end %>
  </div>
</div>
<div class="container round-button-container padded">
  <%= link_to new_query_path, class: 'round-button-new-element-link' do %>
    <div class="round-button round-button-center round-button-right bg-green flex-center">
      <p>+</p>
      <div class="round-button-new-element bg-green">
        Ajouter une question
      </div>
    </div>
  <% end %>
  <% @themes.each do |theme| %>
    <% queries = theme.queries %>
    <% unless queries.empty? %>
      <div class="query-title">
        <h2><%= theme.name %></h2>
        <% count = queries.count %>
        <% if count > 1 %>
          <p id='subtitle'><%= count %> questions</p>
        <% else %>
          <p id='subtitle'><%= count %> question</p>
        <% end %>
      </div>
      <% queries.each_with_index do |query, index| %>
        <div class="query-container">
          <div class="query-item query-id">
            <%= index + 1 %>
          </div>
          <hr>
          <div class="query-item query-content">
            <%= query.content %>
          </div>
          <hr>
          <div class="query-item query-description">
            <%= query.description %>
          </div>
          <hr>
          <div class="query-item query-actions">
            <%= link_to query_path(query) do %>
              <i class="fa fa-eye" aria-hidden="true" id="show"></i>
            <% end %>
            <%= link_to edit_query_path(query) do %>
              <i class="fa fa-pencil" aria-hidden="true" id="edit"></i>
            <% end %>
            <%= link_to query_path(query), method: :delete do %>
              <i class="fa fa-trash-o" aria-hidden="true" id="delete"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

</div>
