<div class="query-banner-index page-banner">
  <div class="page-banner-title">
    <h1>Questions enregistrées</h1>
    <% total = @queries.length %>
    <% if total > 1 %>
      <p><%= total %> questions trouvées</p>
    <% elsif total == 0 %>
      <p>Aucune question trouvée</p>
    <% else %>
      <p><%= total %> question trouvée</p>
    <% end %>
  </div>
</div>
<div class="container query-badge-container padded">
  <div class="query-badge query-badge-right bg-green flex-center">
    <p>+</p>
    <div class="query-badge-new-query bg-green">
      <%= link_to 'Ajouter une question', new_query_path, class: 'query-badge-new-query-link' %>
    </div>
  </div>
  <div class="query-badge query-badge-middle bg-red flex-center">
    <p>+</p>
    <div class="query-badge-new-query bg-red">
      <%= link_to 'Ajouter un choix', '#', class: 'query-badge-new-query-link' %>
    </div>
  </div>
  <div class="query-badge query-badge-left bg-blue flex-center">
    <p>+</p>
    <div class="query-badge-new-query bg-blue">
      <%= link_to 'Ajouter un thème', '#', class: 'query-badge-new-query-link' %>
    </div>
  </div>
  <% @themes.each do |theme| %>
    <h2><%= theme.name %></h2>
    <% theme.queries.each do |query| %>
      <div class="query-container">
        <div class="query-item query-id">
          <%= query.id %>
        </div>
        <hr>
        <div class="query-item query-content">
          <%= query.content %>
        </div>
        <hr>
        <div class="query-item query-description">
          <%= query.description %>
        </div>
        <hr>
        <div class="query-item query-link">
          <%= link_to edit_query_path(query) do %>
            <i class="fa fa-pencil" aria-hidden="true" id="edit"></i>
          <% end %>
          <%= link_to query_path(query), method: :delete do %>
            <i class="fa fa-trash-o" aria-hidden="true" id="delete"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
