<div class="query-banner-show page-banner">
  <div class="page-banner-title">
    <h1><%= @query.content %></h1>
    <% choices = @query.choices %>
    <% total = choices.length %>
    <% if total > 1 %>
      <p><%= total %> choixs trouvés</p>
    <% elsif total == 0 %>
      <p>Aucun choix trouvé</p>
    <% else %>
      <p><%= total %> choix trouvé</p>
    <% end %>
  </div>
</div>
<div class="container round-button-container padded">
  <%= link_to edit_query_path(@query), class: 'round-button-new-element-link' do %>
    <div class="round-button round-button-top round-button-right bg-blue flex-center">
      <p><i class="fa fa-cog" aria-hidden="true"></i></p>
      <div class="round-button-new-element bg-blue">
        Modifier la question
      </div>
    </div>
  <% end %>
  <%= link_to query_path(@query), method: :delete, class: 'round-button-new-element-link' do %>
    <div class="round-button round-button-center round-button-right bg-red flex-center">
      <p><i class="fa fa-minus" aria-hidden="true"></i></p>
      <div class="round-button-new-element bg-red">
        Supprimer la question
      </div>
    </div>
  <% end %>
  <%= link_to new_choice_path, class: 'round-button-new-element-link' do %>
    <div class="round-button round-button-bottom round-button-right bg-green flex-center">
      <p><i class="fa fa-plus" aria-hidden="true"></i></p>
      <div class="round-button-new-element bg-green">
        Ajouter un choix
      </div>
    </div>
  <% end %>
    <div class="query-title">
      <% if @query.description.length > 0 %>
        <p class='query-title-description'><%= @query.description %></p>
      <% else %>
        <p class="query-title-description">Aucune description fournie</p>
      <% end %>
      <p class='query-title-description truncated'>En savoir plus: <%= link_to @query.see_more, @query.see_more %></p>
    </div>
    <% if @query.validated %>
      <p class='text-center blue-text'>Question validée <i class="fa fa-check-circle" aria-hidden="true"></i></p>
    <% else %>
      <p class='text-center red-text'>En attente de validation <i class="fa fa-times-circle" aria-hidden="true"></i></p>
    <% end %>
  <% if choices.empty? %>
    <p>Aucun choix enregistré</p>
  <% else %>
    <% choices.each_with_index do |choice, index| %>
      <div class="query-container">
        <div class="query-item query-id">
          <%= index + 1 %>
        </div>
        <hr>
        <div class="query-item query-content">
          <%= choice.content %>
        </div>
        <hr>
        <div class="query-item query-actions">
          <%= link_to edit_choice_path(choice) do %>
            <i class="fa fa-pencil" aria-hidden="true" id="edit"></i>
          <% end %>
          <%= link_to choice_path(choice), method: :delete do %>
            <i class="fa fa-trash-o" aria-hidden="true" id="delete"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= render "choices/inline_form" %>

</div>
